/* Your CSS goes here! */
body {
    font-family: 'Arial', sans-serif;
    background-color:whitesmoke;
    color:black;
    display: flex;
    flex-direction: column;
}
header {
    background-color: teal;
    color: white;
    padding:10px;
}
footer {
    background-color: gray;
    color: black;
}
nav {
    background-color: grey;
}
nav a {
    color:black;
    text-decoration: none;
    padding: 15px;
    font-weight:bold;
    text-transform: uppercase;
    font-size: 0.9rem;
}
.projects {
    background-color:white;
    padding: 20px;
    border-radius: 5px;
}
.projects div {
    padding-left: 8px;
}
.papers {
    background-color: white;
    padding:20px;
    border-radius: 5px;
}
.papers div {
    padding-left: 8px;
}
#Grover{
    width:300px;
    padding-bottom: 12px;
}
nav p, header h1{
    margin: 0;
}
.About-Me {
    background-color:white;
    padding: 20px;
    border-radius: 5px;
}
.summary {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}